<h1 class="pt-4">ACME</h1>
<a class="pb-5 d-block" href="#">View Organization Profile</a>

<div class="d-flex justify-content-between align-items-center pb-2">
  <div class="">55 Jobs</div>
  <button class="btn btn-outline-primary" type="button">Create Job</button>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Job</th>
    <th scope="col">Created</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="#">Junior Developer</a></td>
    <td>Sep 23, 2019</td>
    <td>Open</td>
  </tr>
  <tr>
    <td><a href="#">UI Designer</a></td>
    <td>Sep 20, 2019</td>
    <td>Open</td>
  </tr>
  <tr>
    <td><a href="#">Content Strategist</a></td>
    <td>Sep 1, 2019</td>
    <td>Open</td>
  </tr>
  <tr>
    <td><a href="#">Mail Clerk</a></td>
    <td>Aug 20, 2019</td>
    <td>Closed</td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#"><< Prev</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next >></a></li>
  </ul>
</nav>
