<div class="pt-4 d-flex justify-content-end">
  <button class="btn pr-0 exit-button" aria-label="Exit">
    <i class="fas fa-times" style="font-size: 36px;"></i>
  </button>
  <div class="confirm-exit d-none">
    <div class="d-flex align-items-baseline">
      Exit now? This will lose unsaved work.
      <button class="btn btn-lg text-primary exit-now">Exit</button>
      <button class="btn btn-lg text-primary keep-working">Keep Working</button>
    </div>
  </div>
</div>

<div class="pt-4 d-flex justify-content-between">
  <h1 class="pb-4">Add Job Description</h1>
  <p class="flex-shrink-0">1 of 7</p>
</div>

<p class="w-75 mb-5">Upload an existing document that includes your job description OR enter a brief description below.</p>

<form>
  <div class="form-group mb-5">
    <div class="custom-file d-flex justify-content-center align-items-center flex-wrap p-5">
      <input type="file" class="custom-file-input" id="customFile">
      <span>Drag or</span><label class="custom-file-label pl-1 pr-1 m-0" for="customFile">upload</label><span>file</span>
      <div class="w-100 text-center">DOCX or TXT</div>
    </div>
  </div>
  <div class="mb-5 hr-divider">
    <span>OR</span>
  </div>
  <div class="form-group mb-4">
    <label for="job-description">Job Description</label>
    <textarea class="form-control description-textarea" id="job-description" rows="3" placeholder="Brief job description"></textarea>
  </div>
  <div class="d-flex justify-content-end pt-5">
    <button type="submit" class="btn btn-lg btn-primary next-button" disabled>Next</button>
  </div>
</form>



<script>
  $(document).ready(function(){

    $('.custom-file-input').change(function(e){
      $('.next-button').removeAttr('disabled');
    });

    $('.description-textarea').on('input', function(e){
      let value = $(this).val();
      if (value) {
        $('.next-button').attr('disabled', false);
      } else {
        $('.next-button').attr('disabled', true);
      }
    });

    $('.exit-button').click(function(e){
      $(this).hide();
      $('.confirm-exit').removeClass('d-none');
    });

    $('.keep-working').click(function(e){
      $('.exit-button').show();
      $('.confirm-exit').addClass('d-none');
    });

  });
</script>


<style>

  input[type="file"] {
    font-size: 0;
  }

  div.custom-file {
    border: 1px dashed #0071EB;
    border-radius: .3rem;
    height: auto;
  }

  .custom-file .custom-file-label {
    border: none;
    color: #0071EB;
    cursor: pointer;
    position: relative;
    height: auto;
    z-index: 11;
  }

  .custom-file .custom-file-input ~ label.custom-file-label::after {
    content: "";
    padding: 0;
    border-left: none;
  }

  .custom-file .custom-file-input {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .hr-divider {
    position: relative;
    text-align: center;
  }

  .hr-divider span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }

  .hr-divider:after {
    content: '';
    width: 100%;
    border-bottom: 1px solid gray;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: -1;
  }
</style>
