<p class="pt-4">WELCOME TO THE JOB DESCRIPTION BUILDER</p>

<h1 class="pb-4">Create JDX-Compliant Job Descriptions</h1>

<p>Job Description Builder helps you create job descriptions that align with established skill and competency standards. You can also create and manage job openings that can be published in conformance with the U.S.Chamber of Commerce Foundation's Job Data
  Exchange (JDX) project.</p>

<p>You can:</p>

<ul class="pb-4">
  <li>upload your existing job descriptions</li>
  <li>match skills and competencies with established standards</li>
  <li>export job descriptions and openings in JDX-approved JSON formats</li>
  <li>help us improve this experience and advance job placements</li>
</ul>

<p class="mb-5">First, let's set up your organization.</p>

<div class="d-flex justify-content-end">
  <a href="javascript:void(0)"
     [routerLink]="['job',jobRoutes.DESCRIPTION]"
     class="btn btn-lg btn-primary"
  >Get Started</a>
</div>
