<h1 class="mb-3 pt-4">Junior Developer</h1>

<ul class="nav nav-tabs mb-5">
  <li class="nav-item">
    <a class="nav-link active" href="#">Openings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Job Details</a>
  </li>
</ul>

<div class="d-flex justify-content-between align-items-center pb-2">
  <div class="">4 Openings</div>
  <button class="btn btn-outline-primary" type="button">Create Opening</button>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Position ID</th>
    <th scope="col">Created</th>
    <th scope="col">Status</th>
    <th scope="col">Open Date</th>
    <th scope="col">Close Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="#">3894529</a></td>
    <td>Sep 23, 2019</td>
    <td>Open</td>
    <td>May 01, 2019</td>
    <td>Jul 25, 2019</td>
  </tr>
  <tr>
    <td><a href="#">1268794</a></td>
    <td>Sep 20, 2019</td>
    <td>Open</td>
    <td>Mar 21, 2019</td>
    <td>Jun 17, 2019</td>
  </tr>
  <tr>
    <td><a href="#">3304541</a></td>
    <td>Sep 1, 2019</td>
    <td>Closed</td>
    <td>Nov 03, 2018</td>
    <td>Jan 10, 2019</td>
  </tr>
  <tr>
    <td><a href="#">7783134</a></td>
    <td>Aug 20, 2019</td>
    <td>Closed</td>
    <td>Sep 01, 2015</td>
    <td>Sep 15, 2015</td>
  </tr>
  </tbody>
</table>
