<div class="pt-4 d-flex justify-content-between">
  <h1 class="pb-4">Location Information</h1>
  <p class="flex-shrink-0">2 of 4</p>
</div>


<p class="w-75 mb-5">Where is your primary (default) physical location? Information provided here will appear by default in your job descriptions, but you'll be able to modify it if needed for each new job opening. The more details you can provide, the better your job descriptions.</p>

<form>
  <div class="form-group mb-4">
    <label class="font-weight-bold" for="location-name">Name</label>
    <input type="text" class="form-control form-control-lg" id="location-name" placeholder="Location Name">
  </div>
  <div class="form-group mb-4 position-relative">
    <label class="font-weight-bold" for="location">Location</label>
    <input type="text" class="form-control form-control-lg" id="location" placeholder="Search location" style="padding-left: 45px;">
    <i class="fas fa-search position-absolute" style="font-size: 24px; bottom: 11px; left: 16px;"></i>
  </div>
  <div class="form-group mb-4 position-relative">
    <label class="font-weight-bold" for="phone">Phone Number</label>
    <input type="text" class="form-control form-control-lg" id="phone" placeholder="(888) 888-8888">
  </div>
  <div class="d-flex justify-content-between pt-5">
    <button type="button" class="btn btn-lg text-primary d-flex align-items-center p-0"><i class="fas fa-angle-left text-primary mr-3" style="font-size: 24px;"></i>Back</button>
    <button type="submit" class="btn btn-lg btn-primary">Next</button>
  </div>
</form>
